@import './botones.css';
body{
	background-color: #26B4B6;
	font-family: Arial, Helvetica, sans-serif; 
}

.wrapper {
	max-inline-size: 900px;
	margin: auto;
	
}


.player {
	margin-block-start: 100px;
	position: relative;
}

.player video {
	inline-size: 100%;
	aspect-ratio: 16/9;
	vertical-align: middle;
	/*border: 10px solid red;*/
}

.player-title{
	color: #26B4B6;
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 20px;

}

.player-actions{
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/*z-index: 2;*/
	gap:  20px;
}

/*.player-progress{
	position: absolute;
	inset-block-end: 0;
	inset-inline: 0;
	display: flex;
	padding: 10px;
}

.player-progress input {
	flex: 1;

}*/

.player2 {
	margin-block-start: 100px;
	position: relative;
}

.player2 video {
	inline-size: 100%;
	aspect-ratio: 16/9;
	vertical-align: middle;
	/*border: 10px solid red;*/
}

.player-title2{
	color: #26B4B6;
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 20px;

}

.player-actions2{
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/*z-index: 2;*/
	gap:  20px;
}